/*
Hauptstylesheet für die Übung HTML/CSS Grundlagen (und Snippets)
Version: 1.2
*/

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
}

/*LAYOUT*/

.container {
    margin: 0 auto;
    padding: 2rem 20px;
    max-width: 800px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery figure {
    width: 33.33%;
/*    padding: 0.5em;*/
}

/*NAVIGATION*/


/*COLOR*/

body {
    background: hsl(200, 20%, 30%);
    color: hsl(200, 20%, 90%);
}

body.sub-topic {
        background: hsl(200, 20%, 50%);
}

