/*
Hauptstylesheet für die Übung HTML/CSS Grundlagen (und Snippets)
Version: 1.5
*/

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
}

/*LAYOUT*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1em;
}

nav.main-nav > ul,
.container {
    margin: 0 auto;
    padding: 1rem 20px;
    max-width: 1200px;
}

nav.main-nav > ul {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

main {
    min-height: 70vh;
}




/*NAVIGATION*/

nav.main-nav > ul {
    display: flex;
    list-style-type: none;
    grid-gap: 1em;
}

nav.main-nav > ul a {
    text-decoration: none;
}


/*COLOR*/

body {
    background: hsl(200, 20%, 10%);
    color: hsl(200, 20%, 90%);
}

header {
    background: hsl(200, 20%, 30%);
}

nav.main-nav {
    background: hsl(200, 20%, 20%);
}

nav.main-nav a {
    color: #fff;
}

nav.main-nav,
nav.main-nav a:hover {
        color: rgb(255,128,0);
}


body.sub-topic header {
    background: hsl(200, 20%, 50%);
}



main {
    background: #fff;
    color: hsl(200, 20%, 30%);
}

footer {}


/*RESPONSIVE (Mobile First)*/


@media screen and (min-width: 600px) {


    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery figure {
        width: 50%;
        /*    padding: 0.5em;*/
    }

    .gallery img {
        /*        height: 50%;*/
        object-fit: cover;
        object-position: top;
    }


}


@media screen and (min-width: 900px) {

    .gallery figure {
        width: 33.33%;
    }

}


@media screen and (min-width: 1200px) {

    .gallery figure {
        width: 20%;
    }

}
