/*
Hauptstylesheet für die Übung HTML/CSS Grundlagen (und Snippets)
Version: 1.5.1
*/

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
}

/*LAYOUT*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1em;
}

nav.breadcrumbs > p,
nav.main-nav > ul,
.container {
    margin: 0 auto;
    padding: 1rem 20px;
    max-width: 1200px;
}

nav.main-nav > ul {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

header.main-header {
    min-height: 20vw;
}

main {
    min-height: 70vh;
}


ul.content-list {
    padding: 1em;
    width: 34em
}

ul.content-list ul > li {
    margin-bottom: 1em;
}



/*NAVIGATION*/

nav ul {
    list-style-type: none;
}

nav.main-nav > ul {
    display: flex;
    grid-gap: 1em;
}

nav.main-nav > ul a {
    text-decoration: none;
}



nav.sitemap > ul > li {
    padding: 0.3em;
    margin: 0 1em 1em 0;
}

nav.sitemap > ul > li > ul > li {
    padding: 0.5em 0 0
}

/*TYPOGRAPHY*/

nav.sitemap ul li ul,
nav.breadcrumbs {
    font-size: 0.8em;
}





/*COLOR & STYLE*/

body {
    background: hsl(200, 20%, 10%);
    color: hsl(200, 20%, 90%);
}

header {
    background: hsl(200, 20%, 30%);
}

nav.main-nav {
    background: hsl(200, 20%, 20%);
}

nav.main-nav a {
    color: #fff;
}

nav.main-nav,
nav.main-nav a:hover {
        color: rgb(255,128,0);
}


body.sub-topic header {
    background: hsl(200, 20%, 50%);
}



main {
    background: #fff;
    color: hsl(200, 20%, 30%);
}

nav.sitemap > ul > li {
    background: hsl(200, 20%, 90%) 
}


/*RESPONSIVE (Mobile First)*/


@media screen and (min-width: 600px) {


    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery figure {
        width: 50%;
        /*    padding: 0.5em;*/
    }

    .gallery img {
        /*        height: 50%;*/
        object-fit: cover;
        object-position: top;
    }
    
        nav.sitemap > ul {
        display: flex;
            flex-wrap: wrap;
    }
    
    nav.sitemap > ul > li {
        width: 47%;
    }

    
}


@media screen and (min-width: 900px) {

    .gallery figure {
        width: 33.33%;
    }
    
        nav.sitemap > ul > li {
        width: 30%;
    }
    


}


@media screen and (min-width: 1200px) {

    .gallery figure {
        width: 20%;
    }
    
            nav.sitemap > ul > li {
        width: 22%;
    }

}
