* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background: hsl(200, 42%, 42%);
            color: #fff;
            height: 200px;
        }

        main {
            background: hsl(200, 42%, 97%);
            min-height: 150vh;
        }

        footer {
            height: 200px;
            background: hsl(200, 42%, 13%);
        }
footer,
footer a {
              color: #fff;  
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
}

nav.main-nav {
    background: hsl(30,97%,55%);
    width: 100%;
    position: sticky;
    top: 0;
}

nav.main-nav a {
    color: #000;
}

header {
    padding-top: 50px;
}


