body {
    background-color: hsl(200,10%,60%);
}


nav {
    background-color: hsl(200,10%,20%); 
    padding: 10px 5px;
}

nav,
nav a {
    color: #fff;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 1em
}

nav ul li a {
    text-decoration: none;
}


